body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 26, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; 
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5); 
}

.back-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid #fcee0a;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button a:hover {
    background-color: #fcee0a;
    color: black;
}

.about-me-box {
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 26, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    width: 60%; 
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5); 
}

.about-me-box img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-info {
    max-width: 600px;
    color: white;
}


.nav-buttons-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 26, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    width: 30%; 
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

.nav-buttons-box a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fcee0a;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-buttons-box a:hover {
    background-color: #fcee0a;
    color: black;
}

.about-page {
    background-image: url('images/background.webp');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.about-info {
    max-width: 600px;
    color: white;
    margin-left: 20px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
}

.hobbies-page {
    background-image: url('images/background.webp');
    background-size: cover;
    background-position: center;
}

.hobbies-page header {
    text-align: center;
    color: #fcee0a;
}

.hobbies-page .hobby-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    border: 2px solid #fcee0a;
    padding: 15px;
    background-color: rgba(0, 26, 0, 0.8); 
    border-radius: 10px;
}

.hobbies-page .hobby-entry img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.hobbies-page .hobby-info {
    max-width: 600px;
}

.hobbies-page .hobby-info h2 {
    margin: 0;
    color: #fcee0a;
}

.hobbies-page .hobby-info p {
    margin: 5px 0 0;
    color: #fff;
}

.gallery-page {
    background-image: url('images/background.webp');
    background-size: cover;
    background-position: center;
    
}

.gallery-page header {
    text-align: center;
    color: #fcee0a;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.gallery-grid img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid #fcee0a;
    border-radius: 10px;
}

footer {
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 26, 0, 0.8);
    color: white;
    border-top: 2px solid #fcee0a;
    margin-top: auto;
}

.d-flex {
    display: flex;
}

.nav-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 26, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
}
.h1 {
    color: #fff;
}
